<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.10/htmx.min.js"></script>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body id="container">
  <div hx-get="navbar.html" hx-target="#navbar" hx-trigger="load"></div>
  <div hx-get="projects.html" hx-target="#content" hx-trigger="load"></div>
  <nav>
    <div id="navbar"></div>
  </nav>
  <main>
    <div id="content" class="content-panel">
    </div>
    <div id="dialog" class="modal" style="display: none;">
      <div class=" modal-content ">
        <span class="close" hx-on="click: this.closest('.modal').style.display='none'">&times;</span>
        <div id="modal-body">
          <!-- Content will be loaded here -->
        </div>
      </div>
    </div>
  </main>

</body>

</html>
